<p class='search-error-message'><i class="fa fa-info-circle"></i> No <%= t("#{service_name}_search.short_display_name") %> results found for <span class="query"><%= display_query %></span></p>
<p class="see-all-results show-for-medium-up">
    <%= link_to searcher.no_results_link(service_name, "#{service_name}_search.no_results_link"), data: {"quicksearch_ga_action" => "no-results"} do %>
        <i class="fa fa-angle-right"></i> Try <%= t("#{service_name}_search.no_results_service_message") %>
    <% end %>
</p>
<p class="see-all-results show-for-small-only">
    <%= link_to searcher.no_results_link(service_name, "#{service_name}_search.no_results_link_mobile", "#{service_name}_search.no_results_link"), data: {"quicksearch_ga_action" => "no-results"} do %>
        <i class="fa fa-angle-right"></i> Try <%= t("#{service_name}_search.no_results_service_message") %>
    <% end %>
</p>
