<aside id="subnav" role="complementary" class="medium-3 columns sidebar">
    <section class="block block-menu">
        <h3>External Services</h2>
        <ul class="side-nav">
            <li><%= link_to "Google Analytics", "https://www.google.com/analytics/web/", :target => "_blank" %></li>
            <li><%= link_to "New Relic Site Monitoring", "https://rpm.newrelic.com/accounts/634243/applications", :target => "_blank" %></li>
        </ul>
        <h3>Internal Reports</h2>
        <ul class="side-nav">
            <li><%= link_to "General Statistics", appstats_path(:start_date => params[:start_date], :end_date => params[:end_date]) %></li>
            <li><%= link_to "Clicks Overview", clicks_overview_path(:start_date => params[:start_date], :end_date => params[:end_date]) %></li>
            <li><%= link_to "Top Searches", top_searches_path(:start_date => params[:start_date], :end_date => params[:end_date]) %></li>
            <li><%= link_to "Best Bets Regular", top_spot_path(:start_date => params[:start_date], :end_date => params[:end_date], :ga_top_spot_module => 'best-bets-regular') %></li>
            <li><%= link_to "Best Bets (Journal Titles)", top_spot_path(:start_date => params[:start_date], :end_date => params[:end_date], :ga_top_spot_module => 'best-bets-algorithmic-journal') %></li>
            <li><%= link_to "Best Bets (Database Titles)", top_spot_path(:start_date => params[:start_date], :end_date => params[:end_date], :ga_top_spot_module => 'best-bets-algorithmic-database') %></li>
            <li><%= link_to "Best Bets (Course Tools)", top_spot_path(:start_date => params[:start_date], :end_date => params[:end_date], :ga_top_spot_module => 'best-bets-course-tools') %></li>
            <li><%= link_to "Spelling Suggestions", top_spot_path(:start_date => params[:start_date], :end_date => params[:end_date], :ga_top_spot_module => 'spelling-suggestion') %></li>
        </ul>
    </section>
</aside>
