<h3><%= report[:category_title] %></h3>
<table class="datatable">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Action</th>
            <th>Serve Count</th>
            <th>Click Count</th>
            <th>Click/Serve Ratio</th>
        </tr>
    </thead>
    <tbody>
        <% total_serves = 0 %>
        <% total_clicks = 0 %>
        <% iterations = 0 %>
        <% report[:report].each do |row| %>
            <% break if iterations > 99 %>
            <% if row['clickcount'].nil? %>
                <% row['clickcount'] = 0 %>
            <% end %>
            <% total_serves += row["servecount"] %>
            <% total_clicks += row["clickcount"] %>
            <% iterations += 1 %>
            <tr>
                <td><%= iterations %></td>
                <td><%= link_to row["action"], controller: "appstats", action: "detail", ga_scope: "action", ga_category: report[:category], ga_action: URI.encode(row["action"], "./") %></td>
                <td><%= number_with_delimiter(row["servecount"]) %></td>
                <td><%= number_with_delimiter(row["clickcount"]) %></td>
                <td><%= number_to_percentage((row["clickcount"] / row["servecount"].to_f)*100, precision: 2) %></td>
            </tr>
        <% end %>
    </tbody>
</table>