<% title("#{@page_title} | ") %>
<%= render partial: 'datatables' %>
<div class="row">
    <%= render partial: 'menu' %>
    <div class="medium-9 columns">
        <%= render partial: "date_range" %>
    </div>
    <div class="medium-9 columns">
        <h2>Module Clicks</h2>
        <%= render partial: 'click_count_table', locals: { :clicks => @module_clicks, :total_clicks => @module_click_total} %>
        <h2>Result Types Guide Clicks</h2>
        <%= render partial: 'click_count_table', locals: { :clicks => @result_types_clicks, :total_clicks => @result_types_click_total} %>
        <table>
            <tr>
                <td>Result Type Guide Click/Search</td>
                <td><%= number_to_percentage((@result_types_click_total / @searches_count.to_f)*100, precision: 2) %></td>
            </tr>
        </table>
    </div>
    <div class="medium-9 columns">
        <h2>Typeahead Clicks</h2>
        <%= render partial: 'click_count_table', locals: { :clicks => @typeahead_clicks, :total_clicks => @typeahead_clicks_total} %>
        <table>
            <tr>
                <td>Typeahead Clicks/Search</td>
                <td><%= number_to_percentage((@typeahead_clicks_total / @searches_count.to_f)*100, precision: 2) %></td>
            </tr>
        </table>
    </div>
</div>
