<%= title("#{@page_title} | ") %>
<%= render partial: 'datatables' %>
<div class="row">
    <%= render partial: "menu" %>
    <div class="medium-9 columns">
        <%= render partial: 'date_range' %>
        <h2><%= @category %></h2>
        <table class='datatable'>
            <thead>
                <tr>
                    <td>Rank</td>
                    <td>Link</td>
                    <td>Count</td>
                    <td>Percent</td>
                </tr>
            </thead>
            <tbody>
                <% count = 0 %>
                <% @modules_clicks_report.each do |module_clicks| %>
                    <% count += 1 %>
                    <tr>
                        <td><%= count %></td>
                        <td><%= module_clicks[:module] %></td>
                        <td><%= module_clicks[:clicks] %></td>
                        <td><%= number_to_percentage(module_clicks[:percent], precision: 2) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

