<% if result.publisher %>
    <span class="publisher citation">
        <%= result.publisher %><%= result.volume || result.issue || result.pages ? ', ' : '.' %>
    </span>
<% end %>
<% if result.volume %>
    <span class="volume citation">
        <%= t 'citation_labels.volume' %>&nbsp;<%= result.volume %><%= result.issue || result.pages ? ', ' : '.' %>
    </span>
<% end %>
<% if result.issue %>
    <span class="issue citation">
        <%= t 'citation_labels.issue' %>&nbsp;<%= result.issue %><%= result.pages ? ', ' : '.' %>
    </span>
<% end %>
<% if result.pages %>
    <span class="pages citation"><%= pages(result.pages).html_safe %>.</span>
<% end %>