<% title("#{@page_title} | ") %>
<%= render partial: 'datatables' %>
<div class="row">
    <%= render partial: "menu" %>
    <div class="large-9 columns">
        <%= render partial: "date_range" %>
    </div>
    <div class="large-9 columns">
        <% if @page_title=='spelling-suggestion' %> 
            <%= render partial: 'graph_spelling_suggestions' %>
        <% end %>
        <% if @page_title=='best-bets-regular' %> 
            <%= render partial: 'graph_best_bets' %>
        <% end %>
    </div>
</div>
