<% unless best_bets.blank? %>
    <% if best_bets[:link].is_a?(String) %>
        <div id="best-bets" class="row quicksearch-ga-serve-tracking quicksearch-ga-click-tracking">
            <div class="small-12 columns best_bets module">
                <h3 class='title'>
                    <%= link_to (best_bets[:link]),
                        :data => { :quicksearch_ga_action => best_bets[:id], 
                          :quicksearch_ga_category => best_bets[:best_bets_type] } do  %>
                            <i class='fa fa-angle-double-right'></i> 
                            <%= best_bets[:title] %>
                    <% end %>
                     <span class='highlight'>Best&nbsp;Bet</span>
                </h3>
             
				<p>
					<% if best_bets[:description].length > 200 %>
				    <%= truncate(best_bets[:description], length: 200) %>
				    <%= link_to 'Read more', '', class: "read-more" %>
				    <script>
				      $('.read-more').on('click', function(e) {
				        e.preventDefault()
				        $(this).parent().html('<%= escape_javascript best_bets[:description] %>')
				      })
				    </script>
				  <% else %>
				    <%= best_bets[:description] %>
				  <% end %>
			  </p>
            </div>
        </div>
    <% end %>
<% end %>
