<ul class="inline-list">
<% for searcher in QuickSearch::Engine::APP_CONFIG['found_types'] %>
        <% if @found_types.include? searcher  %>
            <li>
                <a href="#<%= searcher.dasherize %>" data-quicksearch-ga-action="<%= searcher.dasherize %>">
                <%= t("#{searcher}_search.display_name") %>
                </a>
            </li>
        <% else %>
            <li class="<%= searcher.dasherize %>"><span class="no-results-label"><%= t("#{searcher}_search.display_name") %></span></li>
        <% end %>
<% end %>
</ul>
