<% unless topic_snippet.blank? %>
    <h2><a href="<%=  topic_snippet['source_link'] %>"><%= topic_snippet['title'] %></a></h2>
    <p><%= topic_snippet['snippet'] %></p>
    <p>Source: <a href="<%=  topic_snippet['source_link'] %>"><%= topic_snippet['source_name'] %></a></p>
<% end %>
